.navbar {
	border: 2px solid red;
	background-color: rgb(239, 209, 152);
	min-height: 5rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	padding: 1rem;
	.navbar__link {
		min-width: 5rem;
		font-size: 1.2rem;
		font-weight: bold;
		border: 1px solid black;
		padding: 0.2rem 0.5rem;
		border-radius: 0.4rem;
		cursor: pointer;
		background-color: rgb(255, 157, 0);
	}
	button {
		min-width: 5rem;
		font-size: 1.2rem;
		font-weight: bold;
		border: 1px solid black;
		padding: 0.2rem 0.5rem;
		border-radius: 0.4rem;
		cursor: pointer;
		background-color: rgb(255, 157, 0);
	}
}
