.App {
	border: 4px solid black;
	padding: 1rem;

	margin-top: 2rem;
	.form__container {
		border: 2px solid orangered;
		width: 20rem;
		margin: 2rem auto;
		display: grid;
		place-items: center;
		gap: 1rem;
		padding: 1rem;
	}
}
